@model U5_W2_D5.Models.Prenotazione

@{
    ViewData["Title"] = "Create";
}

<h1>Crea Nuova Prenotazione</h1>

<h4>Prenotazione</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DataPrenotazione" class="control-label"></label>
                <input asp-for="DataPrenotazione" class="form-control" />
                <span asp-validation-for="DataPrenotazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataInizioSoggiorno" class="control-label"></label>
                <input asp-for="DataInizioSoggiorno" class="form-control" />
                <span asp-validation-for="DataInizioSoggiorno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFineSoggiorno" class="control-label"></label>
                <input asp-for="DataFineSoggiorno" class="form-control" />
                <span asp-validation-for="DataFineSoggiorno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anno" class="control-label"></label>
                <input asp-for="Anno" class="form-control" />
                <span asp-validation-for="Anno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Acconto" class="control-label"></label>
                <input asp-for="Acconto" class="form-control" />
                <span asp-validation-for="Acconto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prezzo" class="control-label"></label>
                <input asp-for="Prezzo" class="form-control" />
                <span asp-validation-for="Prezzo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDCliente" class="control-label"></label>
                <select asp-for="IDCliente" class="form-control" asp-items="ViewBag.IDCliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDCamera" class="control-label"></label>
                <select asp-for="IDCamera" class="form-control" asp-items="ViewBag.IDCamera"></select>
            </div>
            <div class="form-group">
                <label asp-for="IDPensione" class="control-label"></label>
                <select asp-for="IDPensione" class="form-control" asp-items="ViewBag.IDPensione"></select>
            </div>
            <div class="form-group my-5">
                <input type="submit" value="Create" class="btn btn-primary me-3" />
                <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
